@keyframes fadeInDown {
	0% {
		opacity: 0.5;
		transform: translate3d(0, -125%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0.5;
		transform: translate3d(0, 125%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0.5;
		transform: translate3d(-125%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0.5;
		transform: translate3d(125%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}


.m-scene .scene_element {
	animation-duration: 1.5s;
	transition-timing-function: ease;
	animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
	animation-name: fadeInUp;
}

.m-scene .scene_element--fadeindown {
	animation-name: fadeInDown;
}

.m-scene .scene_element--fadeinright {
	animation-name: fadeInRight;
}

.m-scene .scene_element--fadeinleft {
	animation-name: fadeInLeft;
}

.m-scene .scene_element--delayed {
	animation-delay: 0.25s;
}

.m-scene.is-exiting .scene_element {
	animation-direction: alternate-reverse;
}

.m-scene.is-exiting .scene_element--delayed {
	animation-delay: 0s;
}

.m-scene.is-exiting .scene_element--noexiting {
	animation-direction: alternate-reverse;
}

@media screen and (min-width: 768px) {

	.m-scene .scene_element--fadeinright-wide {
		animation-name: fadeInRight;
	}

}